{% load static %}
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="../../../static/style.css" />
<script>
    function redirectTo(url) {
        window.location.href = url;
    }
</script>
<body>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
    <button id="this_button" type="submit">Submit</button>
    <br><br>
    <div id='results_container'>
      <div class='results' id='restaurant_results'>
        Restaurants<br>
        {% for restaurant in restaurants %}
          <div onClick=redirectTo('{% url 'restaurant' restaurant.id %}')>
            {{ restaurant.name }}
          </div>
        {% endfor %}
      </div>
      <div class='results' id='category_results'>
        Categories<br>
        {% for category in categories %}
          <div onClick=redirectTo('{% url 'category' category.id %}')>
            {{ category.title }}
          </div>
        {% endfor %}
      </div>
    Cities<br>
    {% for city in cities %}
        <div onClick=redirectTo('{% url 'city' city.id %}')>
            {{ city }}
        </div>
    {% endfor %}
    States<br>
    {% for state in states %}
        <div onClick=redirectTo('{% url 'state' state.id %}')>
            {{ state }}
        </div>
    {% endfor %}
    </div>
</body>
